body{
  background-color: lightgray;
}

footer{
  background-color: darkgray;
}
  
h3{
  font-size: 50px;
  font-weight: bold;
}

p{
  color: gray;
  text-align:left;
}

.navbar a{
  background-color:white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

