<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mars</title>

    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles.css">

</head>
<body>
    <div class="container">

        <div class="jumbotron text-center border-bottom">
            <h1 class="font-weight-bold">Mission to Mars</h1>
            <p><a class="btn btn-primary btn-md" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    
        <div class="row">
            <div class="col-md-12">
            <h2><u>Latest Mars News</u></h2>
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-12">
            <h4>{{mars.news_title}}</h4>
            <p>{{mars.news_p}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 border">
            <h2 class=""><u>Featured Mars Image</u></h2> 
            </br>
            <img class="col-md-12 border" src="{{mars.featured_image_url}}" alt="Featured Mars Image">
            </div>
            <div class="col-md-4">
            
            </br>
            <div class="card">
                <h3>Mars Facts</h3>
                {{ mars.facts_table | safe}}
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 offset-4">
            <h2 class="align-items-center"><u>Mars hemispheres</u></h2>  
            </div>
        </div>
        </br>
        <div class="row">       
                {% for hem in mars.hemisphere_images %} 
                    <div class="col-6 border">
                    </br>
                        <div>
                            <img width="512 px" height="512 px" src="{{hem.image_url}}">
                        </div>
    
                        <div>
                            <h4> {{hem.title}} </h4>  
                        </div>
                
                    </div>
                {% endfor %}
        </div> 
    
        <!-- Footer -->
        <footer class="page-footer font-small footer-dark">
            <div class="footer-copyright text-center py-3">© 2021 Matthew B. Jensen. Confidential and Proprietary. All Rights Reserved.
            </div>      
        </footer>

    </body>
    </html>